@import "components/_variables.css";
@import "components/_base.css";
@import "components/_sections.css";
@import "components/_header.css";
@import "components/_footer.css";
@import "components/_hero.css";
@import "components/_about.css";
@import "components/_features.css";
@import "components/_cta.css";
@import "components/_testimonials.css";
@import "components/_stats.css";
@import "components/_services.css";
@import "components/_pricing.css";
@import "components/_faq.css";
@import "components/_contact.css";
@import "components/_service-details.css";
@import "components/_timeline.css";
@import "components/_team.css";
@import "components/_memory-overlay.css";

/* Pages */
@import "pages/_auth.css";
@import "pages/_admin.css";
@import "pages/_cart.css";
@import "pages/_shop.css";
@import "pages/_profile.css";
@import "pages/_legal.css";