/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 20px 0;
    position: relative;
}

.page-title h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.page-title .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
    padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: var(--default-color);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 90px;
    overflow: clip;
}

@media (max-width: 1199px) {

    section,
    .section {
        scroll-margin-top: 66px;
    }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;
    position: relative;
}

.section-title h2,
.stats .main-headline,
.services .section-heading,
.contact .content h2.display-5,
.call-to-action h2,
.el-khair-section .section-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 4px;
    color: color-mix(in srgb, var(--heading-color), transparent 95%);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 1;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    font-weight: 700;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .section-title span {
        font-size: 38px;
    }
}